{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}

<div class="d-flex justify-content-center m-4 ps-4" style="color: rgb(24, 36, 100);">
    <h1>
        Agregar Libro
    </h1>
</div>

<div class = "d-flex justify-content-center">
    <div class = "row" style="width: 650px;">
        <form class = "col-12 col-sm-12 col-lg-12" id = "agregarLibro" action = "" method = "POST" enctype = "multipart/form-data">
            {% csrf_token %}
            {{form_libro | crispy}}

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary m-2">Agregar libro</button>
                <button type="reset" class="btn btn-danger m-2">Limpiar campos</button>
            </div>
        </form>
        <hr class="my-4">
        <h3 class="m-3"> Resultado: {{mensaje}} </h3>

        <form class="d-flex mx-auto" style="max-width: 600px;" action="{% url 'libros_mantenedor' %}" method="GET">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Buscar libro" name="search"
                aria-label="Search" value="{{ search }}">
            <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </form>

        <div class="d-flex justify-content-center">
            <a href="{% url 'mantenedor_libros' %}" class="btn btn-primary m-4" style="max-width: 100px;">Volver</a>
        </div>

        

    </div>

    

</div>

{% endblock %}