 {% extends "base.html" %}
{% block contenido %}

<ul class="grid">

    <div class="container my-4">
        <div class="row">
            <h3 style="margin-bottom: 2rem;">Agregados Recientemente</h3>
            {% for libro in libros %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100" style="border:0;">
                    <img class="card-img-top" src="{{ libro.portada }}" alt="{{ libro.nombre }}"
                        style="height: 190px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="text-decoration-none" style="color: #224b89; font-size: 16px;"
                                href="{% url 'vista_libro' id_libro=libro.id %}">{{ libro.nombre }}</a>
                        </h5>
                        <p class="card-text" style="font-size: 14px;">por {{ libro.id_autor.nombre }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</ul>
<!-- Nueva sección: Tabla de libros -->
<div class="container my-4">
    <h2 class="mb-4" style="color: black">Top 10 Libros Mejor Calificados</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nombre del libro</th>
                <th>Autor</th>
                <th>Promedio calificación</th>
                <th>Total de reseñas</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in top_libros %}
            <tr>
                <td>{{ libro.nombre_libro }}</td>
                <td>{{ libro.nombre_autor }}</td>
                <td>{{ libro.promedio_calificacion }}</td>
                <td>{{ libro.total_resenas }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay libros disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}