{% extends "base.html" %}

{% block contenido %}

<div class="book-container">
    <div class="book-details">
        <div class="book-image">
            <img src="{{ libro.portada }}" alt="Imagen del libro">
        </div>
        <div class="book-info">
            <p class="year-author"><span>{{ libro.anio }}</span> · <span>{{ libro.id_autor.nombre }}</span></p>
            <h1 class="book-title">{{ libro.nombre }}</h1>
            <div class="categories">
                <span class="category">Categoría</span>
                <span class="category">Categoría</span>
            </div>


                    {% with user_rating=0 %}
                    {% for usuario_libro in libro.usuario_libro_set.all %}
                        {% if usuario_libro.id_usuario_id == request.user.id %}
                            {% with user_rating=usuario_libro.calificacion %}

                                <!-- Calificación con estrellas -->
                                <div class="rating" data-user-rating="{{ user_rating }}" data-libro-id="{{ libro.id }}">
                                    <i><a class="far fa-star" id="star1" onclick="rateBook('{{ libro.id }}', '1')"></a></i>
                                    <i><a class="far fa-star" id="star2" onclick="rateBook('{{ libro.id }}', '2')"></a></i>
                                    <i><a class="far fa-star" id="star3" onclick="rateBook('{{ libro.id }}', '3')"></a></i>
                                    <i><a class="far fa-star" id="star4" onclick="rateBook('{{ libro.id }}', '4')"></a></i>
                                    <i><a class="far fa-star" id="star5" onclick="rateBook('{{ libro.id }}', '5')"></a></i>

                                </div>          
                                
            
                                <!-- Si hay calificación, no mostrar mensaje -->
                                {% if user_rating == 0 %}
                                    <p>No has calificado este libro aún.</p>
                                {% endif %}
            
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endwith %}

            

            <p class="isbn">ISBN 9789564085937</p>
            <div class="book-icons">
                <a href="{% url 'agregar_favorito' libro.id %}"> <i class="fas fa-heart icon"></i></a>


                <!-- Dropdown de Bootstrap con íconos -->
                <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i id="bookmark-icon" class="icon {% if estado_libro == 'Leido' %}fas fa-eye{% elif estado_libro == 'En progreso' %}fas fa-spinner{% elif estado_libro == 'En espera' %}fas fa-clock{% else %}fas fa-bookmark{% endif %}"></i>
                        <span id="estado-texto">
                            {% if estado_libro != 'None' %}
                                {{ estado_libro }}
                            {% else %}
                                Estado
                            {% endif %}
                        </span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#" onclick="setEstado('leido', 'fas fa-eye', 'Leído', '{{ libro.id }}')"><i class="fas fa-eye"></i> Leído</a></li>
                        <li><a class="dropdown-item" href="#" onclick="setEstado('progreso', 'fas fa-spinner', 'En progreso', '{{ libro.id }}')"><i class="fas fa-spinner"></i> En progreso</a></li>
                        <li><a class="dropdown-item" href="#" onclick="setEstado('espera', 'fas fa-clock', 'En espera', '{{ libro.id }}')"><i class="fas fa-clock"></i> En espera</a></li>
                    </ul>
                </div>

                <i class="fas fa-list icon"></i>
            </div>
        </div>



        <div class="book-description">
            <p>Breve descripción del libro</p>
            <p id="descripcion">
                {{ libro.descripcion|slice:":200" }}<span id="dots">...</span><span id="more" style="display:none">{{ libro.descripcion|slice:"200:" }}</span>
            </p>
            <button onclick="toggleDescription('{{ libro.id }}')" id="readMoreBtn" class="btn btn-link">Leer más</button>
        </div>
    </div>


    <div class="reviews-header">
        <h4>Reseñas</h4>
        <!-- Botón de agregar reseña -->
        <button class="add-review-btn" onclick="toggleReviewForm()">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <!-- Formulario para agregar reseña (oculto inicialmente) -->
    <form method="POST" action="{% url 'agregar_reseña' libro.id %}">
        {% csrf_token %}
        <div class="review-form" id="reviewForm" style="display: none;">
            <textarea name="textoReseña" id="reviewText" placeholder="Escribe tu reseña aquí..."></textarea>
            <button type="submit" class="btn btn-primary"> Enviar </button>
            <!-- <button type="submit" class="btn btn-primary" onclick="addReview()">Agregar Reseña</button> -->
        </div>
    </from>

    <div class="review-list">
        <!-- Aquí se listarán las reseñas existentes -->
        {% if libro.usuario_libro_set.count > 0 %}
        
            {% for usuario_libro in libro.usuario_libro_set.all %}
                {% if usuario_libro.resenia %}
                <div class="review">
                    <div class="user-avatar"> <i class="bi bi-person-circle" style="font-size: 2.5rem;"></i></div>
                    <div class="review-content">
                        <p class="review-author">{{ usuario_libro.id_usuario.nombre }}</p> <!-- Nombre del usuario -->
                        <p class="review-text">{{ usuario_libro.resenia }}</p> <!-- Reseña -->
                    </div>
                </div>
                {% endif %}
                
            {% endfor %}
        {% else %}
            <p>No hay reseñas aún.</p>
        {% endif %}
    </div>
</div>

<script>

// Función para pintar las estrellas
function pintarEstrellas(userRating, id_libro) {

    for (let i = 1; i <= 5; i++) {
        const star = document.getElementById('star' + i);
        if (i <= userRating) {
            star.classList.remove('far');
            star.classList.add('fas');
        } else {
            star.classList.remove('fas');
            star.classList.add('far');
        }
    }
}

    // Función para manejar las estrellas de calificación
    function rateBook(id_libro, userRating) {
        for (let i = 1; i <= 5; i++) {
            const star = document.getElementById('star' + i);
            if (i <= userRating) {
                star.classList.remove('far');
                star.classList.add('fas');
            } else {
                star.classList.remove('fas');
                star.classList.add('far');
            }
        }
        // Aquí puedes agregar la lógica de guardado de calificación
        window.location.href = id_libro+"/rat/"+userRating+"/";
    }


// Llama a esta función al cargar la página para inicializar las estrellas
document.addEventListener("DOMContentLoaded", function() {
    const ratingElement = document.querySelector('.rating');
    const userRating = parseInt(ratingElement.getAttribute('data-user-rating')); // Obtener el valor de user_rating
    const id_libro = ratingElement.getAttribute('data-libro-id'); // Obtener el ID del libro
    pintarEstrellas(userRating, id_libro);

});


    function toggleFavorite(icon) {
        if (icon.classList.contains('active')) {
            icon.classList.remove('active');
            // Aquí puedes añadir la lógica para eliminar el libro de favoritos
            console.log("Libro eliminado de favoritos");
        } else {
            icon.classList.add('active');
            // Aquí puedes añadir la lógica para agregar el libro a favoritos
            console.log("Libro agregado a favoritos");
        }
    }

    function setEstado(estado, iconClass, textoEstado, id_libro) {
        // Cambiar el icono del bookmark
        var bookmarkIcon = document.getElementById('bookmark-icon');
        bookmarkIcon.className = iconClass + ' icon';

        // Cambiar el texto del estado
        var estadoTexto = document.getElementById('estado-texto');
        estadoTexto.innerText = textoEstado;

        console.log("Estado del libro cambiado a:", estado);
        // Aquí puedes agregar la lógica de actualización del estado en la base de datos

        window.location.href = id_libro+"/"+estado+"/";
    }



    // Función para el botón "Leer más"
    function toggleDescription() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("readMoreBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Leer más"; 
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Leer menos"; 
            moreText.style.display = "inline";
        }
    }

    function toggleReviewForm() {
        var reviewForm = document.getElementById("reviewForm");
        if (reviewForm.style.display === "none" || reviewForm.style.display === "") {
            reviewForm.style.display = "block";
        } else {
            reviewForm.style.display = "none";
        }
}

// Función para agregar una reseña
function addReview() {
    var reviewText = document.getElementById("reviewText").value;
    if (reviewText.trim() !== "") {
        // Aquí se puede implementar la lógica para enviar la reseña al servidor
        alert("Reseña agregada: " + reviewText);

        // Actualizar la vista con la nueva reseña
        var reviewList = document.querySelector(".review-list");
        var newReview = document.createElement("div");
        newReview.className = "review";
        newReview.innerHTML = `
            <div class="user-avatar"></div>
            <div class="review-content">
                <p class="review-author">Usuario Actual</p>
                <p class="review-text">${reviewText}</p>
            </div>
        `;
        reviewList.appendChild(newReview);

        // Limpiar el formulario
        document.getElementById("reviewText").value = "";
        toggleReviewForm();
    } else {
        alert("Por favor escribe una reseña antes de agregar.");
    }

   


}
</script>

{% endblock %}


